function getFaculties(fid) {
	$.getJSON('{{ path('dellaert_acco_booklist_list_kul_faculties_by_id_title', {'_locale': app.request.locale}) }}', function(data){
		var len = data.length;
		if( len == 0 ) {
			var html = '<option value="-1">{% trans %}no.faculty{% endtrans %}</option>'
		} else {
			var html = '<option value="-1">{% trans %}choose.faculty{% endtrans %}</option>';
		}
		for( var i=0; i < len; i++ ){
			html += '<option value="' + data[i].id + '"';
			if( typeof fid != undefined && data[i].id == fid ) {
				html += 'selected';
			} 
			html += '>' + data[i].title + '</option>';
		}
		$('#faculties').html(html);
	});
	$('#faculties').show();
}

function getLevels(fid,lid) {
	$('#courses').hide();
	$('#courses').html('');
	$('#stages').hide();
	$('#stages').html('<option value="-1">{% trans %}patience{% endtrans %}</option>');
	$('#programs').hide();
	$('#programs').html('<option value="-1">{% trans %}patience{% endtrans %}</option>');
	$('#studies').hide();
	$('#studies').html('<option value="-1">{% trans %}patience{% endtrans %}</option>');
	$('#levels').hide();
	$('#levels').html('<option value="-1">{% trans %}patience{% endtrans %}</option>');

	if( fid != -1 ) {
		$.getJSON('{{ path('dellaert_acco_booklist_list_kul_levels_by_id_title_noid', {'_locale': app.request.locale}) }}/' + fid, function(data) {
			var len = data.length;
			if( len == 0 ) {
				var html = '<option value="-1">{% trans %}no.level{% endtrans %}</option>'
			} else {
				var html = '<option value="-1">{% trans %}choose.level{% endtrans %}</option>';
			}
			for( var i=0; i < len; i++ ){
				html += '<option value="' + data[i].id + '"';
				if( typeof lid != undefined && data[i].id == lid ) {
					html += ' selected';
				} 
				html += '>' + data[i].title + '</option>';
			}
			$('#levels').html(html);
		});
		$('#levels').show();
	}
}

function getStudies(lid,fid,sid) {
	$('#courses').hide();
	$('#courses').html('');
	$('#stages').hide();
	$('#stages').html('<option value="-1">{% trans %}patience{% endtrans %}</option>');
	$('#programs').hide();
	$('#programs').html('<option value="-1">{% trans %}patience{% endtrans %}</option>');
	$('#studies').hide();
	$('#studies').html('<option value="-1">{% trans %}patience{% endtrans %}</option>');

	if( lid != -1 ) {
		$.getJSON('{{ path('dellaert_acco_booklist_list_kul_studies_by_id_title_noid', {'_locale': app.request.locale}) }}/' + fid + '/' + lid, function(data) {
			var len = data.length;
			if( len == 0 ) {
				var html = '<option value="-1">{% trans %}no.study{% endtrans %}</option>'
			} else {
				var html = '<option value="-1">{% trans %}choose.study{% endtrans %}</option>';
			}
			for( var i=0; i < len; i++ ){
				html += '<option value="' + data[i].id + '"';
				if( typeof sid != undefined && data[i].id == sid ) {
					html += ' selected';
				} 
				html += '>' + data[i].title + '</option>';
			}
			$('#studies').html(html);
		});
		$('#studies').show();
	}
}

function getPrograms(sid,pid) {
	$('#courses').hide();
	$('#courses').html('');
	$('#stages').hide();
	$('#stages').html('<option value="-1">{% trans %}patience{% endtrans %}</option>');
	$('#programs').hide();
	$('#programs').html('<option value="-1">{% trans %}patience{% endtrans %}</option>');

	if( sid != -1 ) {
		$.getJSON('{{ path('dellaert_acco_booklist_list_kul_programs_by_id_title_noid', {'_locale': app.request.locale}) }}/' + sid, function(data) {
			var len = data.length;
			if( len == 0 ) {
				var html = '<option value="-1">{% trans %}no.program{% endtrans %}</option>'
			} else {
				var html = '<option value="-1">{% trans %}choose.program{% endtrans %}</option>';
			}
			for( var i=0; i < len; i++ ){
				html += '<option value="' + data[i].id + '"';
				if( typeof pid != undefined && data[i].id == pid ) {
					html += ' selected';
				} 
				html += '>' + data[i].title + ' (' + data[i].studypoints + ' {% trans %}studypoints{% endtrans %})</option>';
			}
			$('#programs').html(html);
		});
		$('#programs').show();
	}
}

function getStages(pid,stid) {
	$('#courses').hide();
	$('#courses').html('');
	$('#stages').hide();
	$('#stages').html('<option value="-1">{% trans %}patience{% endtrans %}</option>');

	if( pid != -1 ) {
		$.getJSON('{{ path('dellaert_acco_booklist_list_kul_stages_by_id_title_noid', {'_locale': app.request.locale}) }}/' + pid, function(data) {
			var len = data.length;
			if( len == 0 ) {
				var html = '<option value="-1">{% trans %}no.stage{% endtrans %}</option>'
			} else {
				var html = '<option value="-1">{% trans %}choose.stage{% endtrans %}</option>';
			}
			for( var i=0; i < len; i++ ){
				html += '<option value="' + data[i].id + '"';
				if( typeof stid != undefined && data[i].id == stid ) {
					html += ' selected';
				} 
				html += '>{% trans %}stage{% endtrans %} ' + data[i].id + '</option>';
			}
			$('#stages').html(html);
		});
		$('#stages').show();
	}
}

function handleCourses(data) {
	var len = data.length;
	var html = '';

	html += '<table>';

	for( var i=0; i < len; i++ ) {

		html += '<tr><td width="50">'+data[i].studypoints+' {% trans %}studypoints{% endtrans %}</td>'
			+'<td>'+data[i].title+'</td>'
			+'<td width="20" class="icon">';
			if( data[i].mandatory == 'J' ) {
				html += '<img width="16" src="{{ asset('bundles/dellaertaccobooklist/images/mandatory.png') }}" alt="{% trans %}course.mandatory{% endtrans %}" title="{% trans %}course.mandatory{% endtrans %}" />';
			} else {
				html += '<img width="16" src="{{ asset('bundles/dellaertaccobooklist/images/optional.png') }}" alt="{% trans %}course.optional{% endtrans %}" title="{% trans %}course.optional{% endtrans %}" />';
			}
			html +='</td>'
			+'<td width="20" class="icon">';
			switch(data[i].period) {
				case '1':
					html += '<img src="{{ asset('bundles/dellaertaccobooklist/images/sem1.png') }}" alt="{% trans %}course.sem1{% endtrans %}" title="{% trans %}course.sem1{% endtrans %}" />';
					break;
				case '2':
					html += '<img src="{{ asset('bundles/dellaertaccobooklist/images/sem2.png') }}" alt="{% trans %}course.sem2{% endtrans %}" title="{% trans %}course.sem2{% endtrans %}" />';
					break;
				case '3':
					html += '<img src="{{ asset('bundles/dellaertaccobooklist/images/sem3.png') }}" alt="{% trans %}course.sem3{% endtrans %}" title="{% trans %}course.sem3{% endtrans %}" />';
					break;
			}
			html += '</td>'
			+'<td width="50">'+data[i].course_id+'</td>'
			+'<td width="20" class="icon"><a href="#" title="';
			lenteachers = data[i].teachers.length;
			for( var j=0; j<lenteachers; j++ ) {
				html += data[i].teachers[j].firstletter + ' ' + data[i].teachers[j].lastname;
				if( j < lenteachers-1 ) {
					html += ', ';
				}
			}
		html += '"> </a></td></tr>';
	}

	html += '</table><br />';

	return html;
}

function handleCoursesByGroups(data,level) {
	var html = '';

	var sliding = false;

	for( fKey in data ) {
		if ( level > 1 && fKey != 'courses' ) {
			sliding = true;
		}

		if( level == 1 ) {
			html += '<p class="expand_collapse_all closed_all">{% trans %}expand.all{% endtrans %}</p>';
		}

		if( fKey != 'courses' ) {
			html += '<h'+level;

			if( sliding ) {
				html += ' class="show_hide closed"';
			}

			html += '>'+fKey+'</h'+level+'>';
		}

		if( sliding ) {
			html += '<div class="slidingDiv';
			if( level > 1 ) {
				html += ' level';
			}
			html += '">';
		} 

		if( fKey == 'courses' ) {
			html += handleCourses(data[fKey]);
		} else {
			html += handleCoursesByGroups(data[fKey],(level+1));
		}

		if( sliding ) {
			html += '</div>'
		}
	}

	return html;
}

function getCourses(stid,pid) {
	$('#courses').hide();
	$('#courses').html('');

	if( stid != -1 ) {
		$.getJSON('{{ path('dellaert_acco_booklist_list_kul_courses_by_groups_in_level_noids', {'_locale': app.request.locale}) }}/' + pid + '/' + stid, function(data) {
			var html = '';

			html = handleCoursesByGroups(data,1);

			if( html == '' ) {
				html = '{% trans %}no.course{% endtrans %}';
			}

			$('#courses').html(html);

		    $('.show_hide').click(function(){
		    	if( $(this).next('.slidingDiv').hasClass('expanded') ) {
		    		$(this).next('.slidingDiv').slideUp(200);
		    		$(this).next('.slidingDiv').removeClass('expanded');
		    		$(this).next('.slidingDiv').addClass('closed');
		    		$(this).removeClass('expanded');
		    		$(this).addClass('closed');
		    	} else {
		    		$(this).next('.slidingDiv').slideDown(200);
		    		$(this).next('.slidingDiv').removeClass('closed');
		    		$(this).next('.slidingDiv').addClass('expanded');
		    		$(this).removeClass('closed');
		    		$(this).addClass('expanded');
		    	}
		    });

		    $('.expand_collapse_all').click(function(){
		    	if( $(this).hasClass('expanded_all') ) {
		    		$('.slidingDiv').slideUp(200);
		    		$('.slidingDiv').removeClass('expanded');
		    		$('.slidingDiv').addClass('closed');
		    		$(this).removeClass('expanded_all');
		    		$(this).addClass('closed_all');
		    		$('.expanded').addClass('closed');
		    		$('.expanded').removeClass('expanded');
		    		$(this).html('{% trans %}expand.all{% endtrans %}');
		    	} else {
		    		$('.slidingDiv').slideDown(200);
		    		$('.slidingDiv').removeClass('closed');
		    		$('.slidingDiv').addClass('expanded');
		    		$(this).removeClass('closed_all');
		    		$(this).addClass('expanded_all');
		    		$('.closed').addClass('expanded');
		    		$('.closed').removeClass('closed');
		    		$(this).html('{% trans %}close.all{% endtrans %}');
		    	}
		    });

		    $(".icon a[title]").tooltip();
		    $(".icon img[title]").tooltip();
		});
		$('#courses').slideDown(200);
	}
}

function changeDirectLink(fid,lid,sid,pid,stid) {
	html = '<a href="' + window.location.href.split('?')[0];
	if( typeof fid != 'undefined' && fid != '-1' ) {
		html += '?fid=' + fid;
		if( typeof lid != 'undefined' && lid != '-1' ) {
			html += '&lid=' + lid;
			if( typeof sid != 'undefined' && sid != '-1' ) {
				html += '&sid=' + sid;
				if( typeof pid != 'undefined' && pid != '-1' ) {
					html += '&pid=' + pid;
					if( typeof stid != 'undefined' && stid != '-1' ) {
						html += '&stid=' + stid;
					}
				}
			}
		}
	}
	html += '">{% trans %}direct.link{% endtrans %}</a>';
	$('#directlink_top').html(html);
}

function $_GET(name) { 
	name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
	var regexS = "[\\?&]" + name + "=([^&#]*)";
	var regex = new RegExp(regexS);
	var results = regex.exec(window.location.search);
	if(results == null)
		return "NULL";
	else
		return decodeURIComponent(results[1].replace(/\+/g, " "));
} 

$(document).ready(function(){
	$('#faculties').hide();
	$('#levels').hide();
	$('#studies').hide();
	$('#programs').hide();
	$('#stages').hide();
	$('#courses').hide();

	$('#faculties').change(function(){
		getLevels($(this).val());
		changeDirectLink($(this).val());
	});

	$('#levels').change(function(){
		getStudies($(this).val(),$('#faculties').val());
		changeDirectLink($('#faculties').val(),$(this).val());
	});

	$('#studies').change(function(){
		getPrograms($(this).val());
		changeDirectLink($('#faculties').val(),$('#levels').val(),$(this).val());
	});

	$('#programs').change(function(){
		getStages($(this).val());
		changeDirectLink($('#faculties').val(),$('#levels').val(),$('#studies').val(),$(this).val());
	});

	$('#stages').change(function(){
		getCourses($(this).val(),$('#programs').val());
		changeDirectLink($('#faculties').val(),$('#levels').val(),$('#studies').val(),$('#programs').val(),$(this).val());
	});

	var fid = $_GET('fid');
	var lid = $_GET('lid');
	var sid = $_GET('sid');
	var pid = $_GET('pid');
	var stid = $_GET('stid');

	if( fid != 'NULL' ) {
		getFaculties(fid);
		if( lid != 'NULL' ) {
			getLevels(fid,lid);
			if( sid != 'NULL' ) {
				getStudies(lid,fid,sid);
				if( pid != 'NULL' ) {
					getPrograms(sid,pid);
					if( stid != 'NULL' ) {
						getStages(pid,stid);
						getCourses(stid,pid);
						changeDirectLink(fid,lid,sid,pid,stid);
					} else {
						getStages(pid);
						changeDirectLink(fid,lid,sid,pid);
					}
				} else {
					getPrograms(sid);
					changeDirectLink(fid,lid,sid);
				}
			} else {
				getStudies(lid,fid);
				changeDirectLink(fid,lid);
			}
		} else {
			getLevels(fid);
			changeDirectLink(fid);
		}
	} else {
		getFaculties();
		changeDirectLink();
	}
});