{% extends "DellaertACCOBooklistBundle::layout.html.twig" %}

{% block extrajs %}
	<script type="text/javascript">
		{% include 'DellaertACCOBooklistBundle:js:vakkenlijst.js.twig' %}
	</script>
{% endblock %}

{% block content %}
	<h1>{% trans %}literaturelist{% endtrans %}</h1>
	<h2>{% trans %}legend{% endtrans %}</h2>
	<div id="legend">
		<table>
			<tr>
				<td><img width="16" src="{{ asset('bundles/dellaertaccobooklist/images/mandatory.png') }}" alt="{% trans %}course.mandatory{% endtrans %}" title="{% trans %}course.mandatory{% endtrans %}" /></td><td>{% trans %}course.mandatory{% endtrans %} {% trans %}course{% endtrans %}</td>
			</tr>
			<tr>
				<td><img width="16" src="{{ asset('bundles/dellaertaccobooklist/images/optional.png') }}" alt="{% trans %}course.optional{% endtrans %}" title="{% trans %}course.optional{% endtrans %}" /></td><td>{% trans %}course.optional{% endtrans %} {% trans %}course{% endtrans %}</td>
			</tr>
			<tr>
				<td><img src="{{ asset('bundles/dellaertaccobooklist/images/sem1.png') }}" alt="{% trans %}course.sem1{% endtrans %}" title="{% trans %}course.sem1{% endtrans %}" /></td><td>{% trans %}course.sem1{% endtrans %} {% trans %}course{% endtrans %}</td>
			</tr>
			<tr>
				<td><img src="{{ asset('bundles/dellaertaccobooklist/images/sem2.png') }}" alt="{% trans %}course.sem2{% endtrans %}" title="{% trans %}course.sem2{% endtrans %}" /></td><td>{% trans %}course.sem2{% endtrans %} {% trans %}course{% endtrans %}</td>
			</tr>
			<tr>
				<td><img src="{{ asset('bundles/dellaertaccobooklist/images/sem3.png') }}" alt="{% trans %}course.sem3{% endtrans %}" title="{% trans %}course.sem3{% endtrans %}" /></td><td>{% trans %}course.sem3{% endtrans %} {% trans %}course{% endtrans %}</td>
			</tr>
			<tr>
				<td><a href="#" class="icon"> </a></td><td>{% trans %}course.teachers{% endtrans %} ({% trans %}teachers.legend{% endtrans %})/td>
			</tr>
		</table>
	</div>
	<br />
	<div class="form-row">
		<select class="form_dropdown" name="faculty" id="faculties" size="1">
			<option value="-1">{% trans %}patience{% endtrans %}</option>
		</select>
	</div>
	<div class="form-row">
		<select class="form_dropdown" name="level" id="levels" size="1">
			<option value="-1">{% trans %}patience{% endtrans %}</option>
		</select>
	</div>
	<div class="form-row">
		<select class="form_dropdown" name="study" id="studies" size="1">
			<option value="-1">{% trans %}patience{% endtrans %}</option>
		</select>
	</div>
	<div class="form-row">
		<select class="form_dropdown" name="program" id="programs" size="1">
			<option value="-1">{% trans %}patience{% endtrans %}</option>
		</select>
	</div>
	<div class="form-row">
		<select class="form_dropdown" name="stage" id="stages" size="1">
			<option value="-1">{% trans %}patience{% endtrans %}</option>
		</select>
	</div>
	<div class="hr"> </div>
	<div id="courses"></div>
{% endblock %}
